@import '~antd/dist/antd.css';

.menu {
    padding: 0 20px;
    border-bottom: solid 1px #e8e8e8;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
    background-color: white;
}
.menu_logo {
    width: 150px;
    float: left;
}
.menu_logo a {
    display: inline-block;
    font-size: 20px;
    padding: 19px 20px;
}
.menu_container .ant-menu-item {
    padding: 0px 5px;
}
.menu_container .ant-menu-submenu-title {
    padding: 10px 20px;
}
.menu_container .ant-menu-item a,
.menu_container .ant-menu-title a {
    padding: 10px 15px;
}
.menu_container .ant-menu-horizontal {
    border-bottom: none;
}
.menu_container .menu_left {
    float: left;
}
.menu_container .menu_right {
    float: right;
}

.menu_mobile-button {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 8px;
    display: none !important;
    background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
    padding: 0 !important;
}
.menu_drawer .ant-drawer-header {
    padding: 14px 24px !important;
}

@media (max-width: 767px) {
    .menu_mobile-button {
        display: inline-block !important;
    }
    .menu_left,
    .menu_right {
        display: none;
    }
    .menu_logo a {
        margin-left: -20px;
    }
    .menu_container .ant-menu-item,
    .menu_container .ant-menu-submenu-title {
        padding: 1px 20px;
    }
    .menu_logo a {
        padding: 10px 20px;
    }
}